/* Sticky footer styles
--------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

#footer ul {
  padding-left: 0;
}

#footer li {
  display: inline;
}

#footer li + li::before {
  content: " | ";
}

.container {
  margin-top: 50px;
}

.navbar-brand span {
  color: #606;
}

.dl-horizontal dt {
  text-align: left;
  width: auto;
}

.dl-horizontal dd {
  margin-left: 70px;
}

.product-highlight {
  margin-bottom: 40px;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Callouts
------------------------- */

.callout{
	margin:20px 0;
	padding:20px;
	border-left:3px solid #eee
}

.callout h4{
	margin-top:0;
	margin-bottom:5px
}

.callout p:last-child{
	margin-bottom:0
}

.callout code{
	background-color:#fff;
	border-radius:3px
}

.callout-danger{
	background-color:#fdf7f7;
	border-color:#d9534f
}

.callout-danger h4{
	color:#d9534f
}

.callout-warning{
	background-color:#fcf8f2;
	border-color:#f0ad4e
}

.callout-warning h4{
	color:#f0ad4e
}

.callout-info{
	background-color:#f4f8fa;
	border-color:#5bc0de
}

.callout-info h4{
	color:#5bc0de
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}