
    </div> <!-- /container -->

    <!-- Site footer -->
    <div id="footer">
      <div class="container">
        <ul class="text-center">
          <li><a href="/">Home</a></li>
          <li><a href="/shipping.html">Shipping charges</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
        <p class="text-muted text-center">
          &copy; ecoweave 2014
        </p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/lightbox/dist/ekko-lightbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {

            // delegate calls to data-toggle="lightbox"
            $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function() {
                        if (window.console) {
                            return console.log('Checking our the events huh?');
                        }
                    }
                });
            });

            //Programatically call
            $('#open-image').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
            $('#open-youtube').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
        });
    </script>

  </body>
</html>
