
    <div class="col-sm-4 text-center">
      <a href="/img/products/thumb/{{product.img}}">
        <img alt="{{ product.name }}"
             class="img-circle"
             style="width: 140px; height: 140px;"
             src="/img/products/thumb/{{product.img}}" />
      </a>
      <h2>{{ product.name }}</h2>
        <p>{{ product.preamble }}</p>
        <p>
          <a class="btn btn-primary"
             href="/product-info/#{{product.id}}"
             role="button">View details &raquo;</a>
        </p>
    </div>
