
    {% if forloop.first %}
      {% assign divider_class = 'hidden' %}
    {% else %}
      {% assign divider_class = 'featurette-divider' %}
    {% endif %}
    <hr class="{{divider_class}}" id="{{product.id}}" />

    {% capture rowcycle %}{% cycle 'odd', 'even' %}{% endcapture %}

    {% capture image_div %}
      <div class="col-md-5 hidden-xs hidden-sm">
        <a href="/img/products/full/{{product.img}}"
           data-toggle="lightbox"
           data-title="{{product.name}}">
        <img src="/img/products/thumb/{{product.img}}"
             class="featurette-image img-responsive img-thumbnail"
             alt="{{product.name}}"
             style="width: 300px; height: 300px;" />
        </a>
      </div>
    {% endcapture %}

    <div class="row featurette">
      {% if rowcycle == 'even' %}
        {{image_div}}
      {% endif %}

      <div class="col-md-7">

        <div class="visible-xs visible-sm" style="float:right;">
          <a href="/img/products/full/{{product.img}}"
           data-toggle="lightbox"
           data-title="{{product.name}}">
          <img src="/img/products/thumb/{{product.img}}"
               class="featurette-image img-responsive img-thumbnail"
               alt="{{product.name}}"
               style="width: 150px; height: 150px;" />
          </a>
        </div>

        <h2 class="featurette-heading">
          {{product.name}}
          <br />
          <span class="text-muted">{{product.strapline}}</span>
        </h2>

        <p class="lead">{{product.preamble}}</p>

        {% unless product.description == nil %}
        <p>{{product.description}}</p>
        {% endunless %}

        {% if site.data.features.accept-payments %}
          {% include paypal.html %}
        {% else %}
          {% include buying-options.html %}
          <p>
            <a class="btn btn-primary"
               href="/contact/"
               role="button">Contact me for availability &raquo;</a>
          </p>
        {% endif %}

      </div>

      {% if rowcycle == 'odd' %}
        {{image_div}}
      {% endif %}
    </div>
