
    {% if forloop.first %}
    <span id="{{product.id}}" />
    {% else %}
    <hr class="featurette-divider" id="{{product.id}}" />
    {% endif %}

    {% capture rowcycle %}{% cycle 'odd', 'even' %}{% endcapture %}

    {% capture image_div %}
      <div class="col-md-5 hidden-xs hidden-sm">
        <img src="/img/products/thumb/{{product.img}}"
             class="featurette-image img-responsive img-thumbnail"
             alt="{{product.name}}"
             style="width: 300px; height: 300px;" />
      </div>
    {% endcapture %}

    <div class="row featurette">
      {% if rowcycle == 'even' %}
        {{image_div}}
      {% endif %}

      <div class="col-md-7">

        <div class="visible-xs visible-sm" style="float:right;">
          <img src="/img/products/thumb/{{product.img}}"
               class="featurette-image img-responsive img-thumbnail"
               alt="{{product.name}}"
               style="width: 150px; height: 150px;" />
        </div>

        <h2 class="featurette-heading">
          {{product.name}}
          <br />
          <span class="text-muted">{{product.strapline}}</span>
        </h2>

        <p class="lead">{{product.preamble}}</p>

        {% unless product.description == nil %}
        <p>{{product.description}}</p>
        {% endunless %}

        <dl class="dl-horizontal">
          <dt>Price</dt>
          <dd>{{product.price}}</dd>

          {% unless product.size == nil %}
          <dt>Size</dt>
          <dd>{{product.size}}</dd>
          {% endunless %}

          {% unless product.closure == nil %}
          <dt>Closure</dt>
          <dd>{{product.closure}}</dd>
          {% endunless %}
        </dl>
        <p>
          <a class="btn btn-primary"
             href="/img/products/thumb/{{product.img}}"
             role="button">Add to basket &raquo;</a>
        </p>
      </div>

      {% if rowcycle == 'odd' %}
        {{image_div}}
      {% endif %}
    </div>
